body{
    background-image: url("gorod_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: #e0e0e0;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dragon_command,#dept_store{
    width: 500px;
    height: 130px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 800px;
    gap: 5px;
}

.row button {
    flex: 1;
    height: 100%;
}

#dept_store{
    width: 500px;
    height: 130px;
}

button {
    border: rgb(250, 15, 15);
    border-radius: 20px;
    background-color: hsl(0, 77%, 51%);
    border: none;
    padding: 15px;
    font-size: 1.1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
}

button:hover {
    background-color: hsl(0, 93%, 56%);
    transform: scale(1.03);
    cursor: pointer;
}



h1 {
    font-size: 2.5rem;
    display: inline-block;
    background: #000000;
    color: #ff0000;
    padding: 10px 20px;
    margin: 0;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#info_text,h2{
   color: #ffffff;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#bomb_order_text{
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: inline-block;
    background: #000000;
    color: #ff5100;
    padding: 5px 25px;
    margin: 0;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

ol{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

#credits_text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
